
* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: .5em;
    height: 0em;
    background: #d0e4ff;
  
  }
  ::-webkit-scrollbar-thumb {
    background: #2a6fee;
    border-radius: 10px;
  }

  #hero-page-bg {
    background-image: url(bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
  }
  #uni-img{
    background-image: url(image-bg.webp);
    background-size: cover;
    background-position: 55% center;
  } 
  /* text fade animation  */
  #fade-text span {
    opacity: 0;
    animation: fadeInOut 5s forwards;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

   /* image animation  */
  .fade-image {
    animation: fadeOut 10s ease-in-out forwards;
  }
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  /* Nav toggle */
  article {
    display: none;
  }
  
  article.active {
    display: block;
    animation: fade 0.5s ease backwards;
  }

  @keyframes fade {
    0% {
      opacity: 0;
  
    }
  
    100% {
      opacity: 1;
    }
  }
  .fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .active-color {
    color: #1f67ed;
  }


  /* about more toggle */
  .aboutbtn {
    background-color: transparent;
  }
  .overflow-about {
    overflow: visible;
  }
  @media screen and (max-width: 1024px) {
    .overflow-about button {
      background: #fff;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  
  }
  
  .under-line:hover{
    text-decoration: underline 2px solid #1f67ed;
  }